.popover {
  background: var(--background-tertiary);
  left: 4.5rem;
  border-radius: 0.8rem;
  position: absolute;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.05);

  p {
    font-size: 1.2rem;
    color: var(--text-primary);
    line-height: 3.2rem;
  }

  &::before {
    position: absolute;
    left: -0.3rem;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    background: var(--background-tertiary);
    transform: rotate(45deg);
  }
}

.popoverImage {
  img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.popoverBody {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  span {
    font-size: 1.6rem;
    color: var(--text-tertiary);
  }
}

.popoverFooter {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    color: var(--text-secondary);
  }
}

@media (max-width: 690px) {
  .popover {
    display: none;
  }
}
