.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  width: 100%;
  max-width: 968px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
