.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
  background: url("/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.chat {
  background: #1a202c;
  width: 100%;
  max-width: 768px;
  padding: 3.2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2.4rem;
    color: #edf2f7;
  }

  span {
    font-size: 1.4rem;
    color: #cbd5e0;
    transition: color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #e2e8f0;
    }
  }
}

.messageList {
  background: #2d3748;
  height: 70vh;
  overflow-y: auto;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column-reverse;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #718096;
    border-radius: 0.4rem;
  }
}

.message {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.6rem;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  position: relative;

  button {
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    font-size: 0;
    border: 0;
    background: none;
    border-radius: 50%;
    display: none;
  }

  &:hover {
    background: #4a5568;

    button {
      display: flex;
    }
  }
}

.messageHeader {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;

  img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }

    &:hover + span {
      text-decoration: underline;
    }
  }

  span {
    font-size: 1.6rem;
    color: #e2e8f0;
  }

  time {
    font-size: 1.2rem;
    color: #a0aec0;
  }
}

.popover {
  background: #222f3e;
  left: 4.5rem;
  border-radius: 0.8rem;
  position: absolute;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;

  p {
    font-size: 1.2rem;
    color: #e2e8f0;
    line-height: 3.2rem;
  }

  &::before {
    position: absolute;
    left: -0.3rem;
    // border-radius: 40%;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    background: #222f3e;
    transform: rotate(45deg);
  }
}

.popoverImage {
  img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.popoverBody {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  span {
    font-size: 1.6rem;
    color: #edf2f7;
  }
}

.popoverFooter {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    color: #718096;
  }
}

.githubProfile {
  display: flex;
  gap: 1.2rem;
  align-items: center;

  label {
    font-size: 1.4rem;
    color: #a0aec0;
  }
}

.messageBody {
  p {
    color: #cbd5e0;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.inputMessage {
  background: #2d3748;
  border-radius: 0.4rem;
  gap: 0.6rem;
  display: flex;
  align-items: center;
  height: 4.8rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 1rem;
    border-radius: 50%;
    background: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  input {
    width: 100%;
    resize: none;
    padding: 1.2rem 1.8rem;
    outline: none;
    border-radius: 0.4rem;
    border: none;
    background: #2d3748;
    color: #cbd5e0;

    &::placeholder {
      color: #718096;
    }
  }
}

.unauthenticated {
  background: #1a202c;
  width: 100%;
  max-width: 768px;
  padding: 3.2rem;
  border-radius: 0.8rem;
  text-align: center;

  p {
    color: #cbd5e0;
    font-size: 1.4rem;
    line-height: 2.4rem;

    a {
      font-weight: bold;
      color: #e2e8f0;
    }
  }
}

.loadingWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 3px solid #2b6cb0;
  border-bottom-color: transparent;
  animation: spin 2s linear infinite;
}

.delete {
  height: 1.4rem;
  width: 1.4rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 665px) {
  .popover {
    display: none;
  }
}
