:root {
  --primary-color: #575fcf;
  --primary-color-hover: #686fd4;
  --danger-color: #f56565;
  --background-primary: #18191A;
  --background-secondary: #242526;
  --background-tertiary: #35383E; 
  --text-primary: #cbd5e0;
  --text-secondary: #a0aec0;
  --text-tertiary: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background-primary);
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

@media(max-width: 665px) {
  html {
    font-size: 50%;
  }
}