.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
  background: url("/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.login {
  width: 100%;
  max-width: 375px;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  border-radius: 0.8rem;
  background: #1a202c;
  animation: fadeIn 0.3s ease-in-out;
}

.welcome {
  text-align: center;
  cursor: default;

  h1 {
    font-size: 2.4rem;
    color: #edf2f7;
  }

  span {
    font-size: 1.6rem;
    color: #cbd5e0;
    line-height: 3.2rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  cursor: default;
  width: 90%;

  img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
  }

  div#image {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    background: #2d3748;
  }

  span {
    font-size: 1.6rem;
    color: #cbd5e0;
    background: #2d3748;
    padding: 0.5rem 0.75rem;
    border-radius: 0.4rem;
    height: 3rem;
  }
}

.profileInformation {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  label {
    color: #a0aec0;
    font-size: 1.4rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;

  span {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      font-size: 1.4rem;
      color: #a0aec0;
      font-weight: 500;
    }

    h6 {
      color: #f56565;
      font-size: 1.2rem;
      font-weight: normal;
      font-family: "Inter", sans-serif;
    }
  }

  button {
    height: 3.6rem;
    border: 0;
    outline: 0;
    border-radius: 0.4rem;
    color: #edf2f7;
    background: #e53e3e;
    font-weight: 500;
    font-size: 1.4rem;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: #c53030;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.4rem;
  padding-right: 1.2rem;
  border: 1px solid transparent;
  background: #2d3748;

  input {
    height: 3.6rem;
    border: 0;
    outline: 0;
    border-radius: 0.4rem;
    color: #edf2f7;
    padding: 0 1.2rem;
    font-size: 1.4rem;
    background: #2d3748;
    flex: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
