.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;

  background: url("/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.login {
  width: 100%;
  max-width: 640px;
  padding: 3.2rem;
  gap: 3.2rem;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background: #2D3748;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;

  div {
    h1 {
      font-size: 3.2rem;
      color: #EDF2F7;
    }

    span {
      font-size: 1.6rem;
      color: #E2E8F0;
      line-height: 3.2rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    label {
      font-size: 1.4rem;
      color: #A0AEC0;
      font-weight: 500;
    }

    input, button {
      height: 3.6rem;
      border: 0;
      outline: 0;
      border-radius: 0.4rem;
      color: #EDF2F7;
    }

    input {
      padding: 0 1.2rem;
      font-size: 1.4rem;
      background: #1A202C;
      transition: background .2s ease-in-out;
      border: 1px solid transparent;

      &:focus {
        background: #171923;
      }
    }

    span {
      color: #F56565;
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }

    button {
      background: #E53E3E;
      font-weight: 500;
      font-size: 1.4rem;
      transition: background .2s ease-in-out;

      &:hover {
        background: #C53030;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  background: #1A202C;
  border-radius: 0.8rem;
  padding: 2.4rem;

  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  span {
    font-size: 1.4rem;
    color: #E2E8F0;
    background: #2D3748;
    padding: 0.5rem 0.75rem;
    border-radius: .4rem;
  }
}

@media(max-width: 665px) {
  .login {
    display: flex;
    flex-direction: column;
  }
}