.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
}

.login {
  width: 100%;
  max-width: 425px;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  border-radius: 0.8rem;
  background: var(--background-secondary);
  animation: fadeIn 0.3s ease-in-out;
}

.welcome {
  text-align: center;
  cursor: default;

  h1 {
    font-size: 2.4rem;
    color: var(--text-primary);
  }

  span {
    font-size: 1.6rem;
    color: var(--text-secondary);
    line-height: 3.2rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  cursor: default;
  width: 90%;

  img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
  }

  span {
    font-size: 1.6rem;
    color: var(--text-primary);
    background: var(--background-tertiary);
    padding: 0.5rem 0.75rem;
    border-radius: 0.4rem;
    height: 3rem;
  }
}

.profileInformation {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  label {
    color: var(--text-secondary);
    font-size: 1.4rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;

  span {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      font-size: 1.4rem;
      color: var(--text-secondary);
      font-weight: 500;
    }

    h6 {
      color: var(--danger-color);
      font-size: 1.2rem;
      font-weight: normal;
      font-family: "Inter", sans-serif;
    }
  }

  button {
    height: 4.8rem;
    border: 0;
    outline: 0;
    border-radius: 0.4rem;
    color: var(--text-primary);
    background: var(--primary-color);
    font-weight: 500;
    font-size: 1.4rem;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: var(--primary-color-hover);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.4rem;
  padding-right: 1.2rem;
  border: 1px solid transparent;
  background: var(--background-tertiary);

  input {
    height: 4.8rem;
    border: 0;
    outline: 0;
    border-radius: 0.4rem;
    color: var(--text-primary);
    padding: 0 1.2rem;
    font-size: 1.4rem;
    background: var(--background-tertiary);
    flex: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
