.container {
  position: absolute;
  right: 0;
  bottom: 8rem;
  right: 2rem;
  background: var(--background-secondary);
  border-radius: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  > button {
    > span {
      font-size: 1.15rem;
      color: var(--danger-color);
    }
  }
}

.stickers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8rem;
  overflow-y: auto;
  height: 20rem;
  padding: 1.4rem;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--background-tertiary);
    border-radius: 0.4rem;
  }

  img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 425px) {
  .stickers {
    height: 20rem;
    grid-template-columns: repeat(2, 1fr);

    img {
      width: 8rem;
      height: 8rem;
    }
  }
}
