.message {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.6rem;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  position: relative;

  &:hover {
    background: #4a5568;

    .buttonGroup {
      display: flex;
    }
  }
}

.messageHeader {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;

  img {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  span {
    font-size: 1.6rem;
    color: #e2e8f0;
  }

  time {
    font-size: 1.2rem;
    color: #a0aec0;
  }

  h6 {
    font-size: 1rem;
    color: #a0aec0;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }
}

.messageBody {
  img {
    width: 32rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 0.4rem;
  }

  p {
    color: #cbd5e0;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.buttonGroup {
  display: none;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  padding: 0.6rem;
  gap: 1.2rem;
  border-radius: 0.4rem;
  background: #2d3748;

  button {
    font-size: 0;
    border: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.2rem;
    height: 2.2rem;

    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

.editMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2rem;

  input {
    width: 100%;
    resize: none;
    padding: 2rem 1.8rem;
    outline: none;
    border-radius: 0.4rem;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: #cbd5e0;
    transition: background 0.2s ease-in-out;

    &:focus {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  button {
    background: #2d3748;
    border: 0;
    padding: 1rem;
    border-radius: 0.4rem;
    color: #e2e8f0;
    transition: opacity 0.2s ease-in-out;
    height: 4rem;
    width: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.85;
    }
  }
}

@media (max-width: 500px) {
  .messageHeader {
    span {
      white-space: nowrap;
      max-width: 10ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 475px) {
  .messageBody {
    img {
      width: 16rem;
      height: 9rem;
    }
  }
}
