.message {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.6rem;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  position: relative;

  &:hover {
    background: #4a5568;

    .buttonGroup {
      display: flex;
    }
  }
}

.messageHeader {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;

  img {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  span {
    font-size: 1.6rem;
    color: #e2e8f0;
  }

  time {
    font-size: 1.2rem;
    color: #a0aec0;
  }
}

.messageBody {
  img {
    width: 32rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 0.4rem;
  }

  p {
    color: #cbd5e0;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.buttonGroup {
  display: none;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  padding: 0.6rem;
  gap: 1.2rem;
  border-radius: 0.4rem;
  background: #2d3748;

  button {
    font-size: 0;
    border: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.2rem;
    height: 2.2rem;

    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 500px) {
  .messageHeader {
    span {
      white-space: nowrap;
      max-width: 10ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 475px) {
  .messageBody {
    img {
      width: 16rem;
      height: 9rem;
    }
  }
}
