.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;

  > img {
    height: 4.4rem;
    width: 4.4rem;
    object-fit: contain;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    img {
      height: 3.4rem;
      width: 3.4rem;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      font-size: 1.4rem;
      color: var(--text-primary);
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--text-secondary);
      }
    }
  }
}

@media(max-width: 968px) {
  .header {
    padding: 0 1.6rem;
  }
}