.container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  height: 8rem;

  > button {
    height: 5.4rem;
    width: 5.4rem;
    border-radius: 0.4rem;
    border: none;
    background: var(--background-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.inputMessage {
  background: var(--background-secondary);
  border-radius: 0.4rem;
  gap: 0.6rem;
  display: flex;
  align-items: center;
  height: 5.4rem;
  flex: 1;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 1rem;
    border-radius: 50%;
    background: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  input {
    width: 100%;
    resize: none;
    padding: 1.2rem 1.8rem;
    outline: none;
    border-radius: 0.4rem;
    border: none;
    background: var(--background-secondary);
    color: var(--text-primary);

    &::placeholder {
      color: var(--text-secondary);
    }
  }
}

@media(max-width: 968px) {
  .container {
    padding: 0 1.6rem;
  }
}